group splash {
    scale = 10;

    sheet = ./res/img/deeep.png;
    bounds = { 0, 0, 87, 21 };
}

group gui {
    scale = 4;

    sheet = ./res/img/gui.png;
}

group btn {
    sheet = gui::sheet;
    scale = gui::scale;

    box.top    = { 2, 34, 44, 17 };
    box.center = { 2, 48, 44, 16 };
    box.bottom = { 2, 61, 44, 17 };

    //m is for medium size
    btnM.nromal = { 113,  81, 30, 14 };
    btnM.hover  = { 113, 113, 30, 14 };
    btnM.press  = { 113,  98, 30, 14 };

    btnText.start   = {  71, 148, 18, 6 };
    btnText.options = { 100, 164, 24, 6 };
    btnText.exit    = {   9, 164, 14, 6 };
}